{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
Facturas con importe mayor a $1000
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>Facturas con importe mayor a $1000</h1>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Nro. factura</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                {% if entity.razon_social %}
                    {{ entity.razon_social }}
                {% else %}
                    {{ entity.nombre~', '~entity.apellido}}
                {% endif %}
            </td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.total }}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('factura_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% else %}
        <div class="alert alert-error">
            No se encontraron.
        </div>
    {% endfor %}
    </tbody>
</table>
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('factura_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Factura
        </a>
    </div>
    </div>

{% endblock %}